#navColor{
    background-color: #34ad52;
}

#subHeader{
    color: white;
    font-family: 'Oswald';
}

.cWidth{
    width: 75%;
}

#jumboMargin{
    margin-top: 56px;
    margin-bottom: 0;
}

#divCenter{
    margin-left: 25%;
}

.pleaseWork{
    /* margin-top: 10px; */
    padding: 1px 1px;
}

.navDisable{

}

.signUp{
    background-color: white;
}

#header{
    color:white;
    font-family: 'Oswald';
    font-weight: 700;
    /* background: url("imgs/space.jpg"); */
    /* background-position: center;
    background-size: cover; */
} 

.whiteButton{
    color:white;
}

.cardMargin{
    margin-bottom: .75rem;
}
body{
    background-color: #74f795;
    /* padding-top: 56px; */
}

.hText{
    font-weight: 600;
}

hr{
    width: 50%;
      
}

.text-right{
    text-align: end;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map{
    height: 500px;
    margin: 2rem auto;
  }
  /* Optional: Makes the sample page fill the window. */

  #spotInfo{
      display: none;
  }

  #footer .closingSec{
      margin-bottom: 0px;
      background-color:  #232323;
  }